@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap');
@import '../../node_modules/owl.carousel/src/scss/owl.carousel.scss';
@import '../../node_modules/owl.carousel/src/scss/owl.theme.default.scss';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
}

.container {
    max-width: 1140px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-style: normal;
    font-weight: 700;
    color: #151515;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -0.01em;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 50px;
    letter-spacing: -0.01em;
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.28em;
    text-transform: uppercase;
    color: #ADADAD;
}

h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    margin: 0;
}

p {
    font-style: normal;
    font-weight: normal;
    margin: 0;
    color: #8d8d8d;
}

button {
    display: block;
}

ul, li {
    padding: 0;
    margin: 0;
    display: block;
}

.btn {
    padding: 17px 31px;
    height: 50px;
    background: $main-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.28em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 0;
    display: inline;
    transition: all 0.5s ease;
    &:hover {
        background: #2013AC;
        color: #fff;
    }
}

@import 'blocks/header';
@import 'blocks/offer';
@import 'blocks/problems';
@import 'blocks/servises';
@import 'blocks/features';
@import 'blocks/works';

