.clients {
    background: #fff;
    padding: 102px 0 137px 0;
    &__heading {
        color: #222222;
    }
    &__text {
        margin-top: 17px;
    }
    &__board {
        margin-top: 82px;
    }
}