.header {
    &__nav {
        padding-top: 59px;
    }
    &__search {
        background: transparent;
        border: none;
    }
    &__menu {
        background: transparent;
        border: none;
    }
}