.servises-carousel {
    padding-top: 99px;
}

.servises-carousel .item, .servises-carousel .owl-item {
    width: 825px !important;
    position: relative;
}

.owl-theme .owl-nav {
    margin-top: 50px;
    text-align: left;
}

.owl-theme .owl-nav [class*=owl-] {
    margin: 0 25px 0 0;
}

.servises-carousel__play {
    display: block;
    background: url('../../icons/play.svg');
    width: 65px;
    height: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;  
}

.reviews-carousel .owl-nav {
    display: flex;
    margin-top: -50px;
    position: relative;
}

.offer-carousel {
    position: relative;
}

.offer-carousel .owl-nav {
    display: flex;
    margin: 0 5px 0 0;
    position: absolute;
    left: 155px;
    top: 663px;
}

.offer-carousel.owl-theme .owl-nav [class*=owl-] {
    margin: 0 5px 0 0;
    &:hover {
        background: none;
        -moz-transform: scale(1) translate(0px, -2px);
        -webkit-transform: scale(1) translate(0px, -2px);
        -o-transform: scale(1) translate(0px, -2px);
        -ms-transform: scale(1) translate(0px, -2px);
        transform: scale(1) translate(0px, -2px);
        transition: all 0.7s ease;
    }
}


