.reviews {
    background-color: #F4F4F4;
    padding: 248px 0 176px 0;
    &__title {
        padding-top: 73px;
    }
    &__subtitle {
        &-name {
            padding-top: 121px;
        }
        &-descr {
            padding-top: 13px;
        }
    }
    &__photo {
        display: block;
    }
}