.servises {
    padding-top: 142px;
    &__title {
        padding-top: 40px;
    }
    &__menu {
        padding-top: 62px;
        &-left {
            margin-left: 37px;
        }
        &-item {
            width: 100%;
            padding: 10px 0;
        }
        &-link {
            display: block;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 28px;
            color: #8b8b8b;
            &:hover {
                text-decoration: none;
                color: #4f4a4a;
            }
        }
    }
}